<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Margatsni - Instagram Photo Downloader</title>
    <meta name="description" content="Margatsni - Instagram Photo Downloader">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
    <div id="headerBar">
        /* PlaceHolder for anything we want at the top*/
    </div>
    <div id="header">
        <a href="margatsni.xyz">Margatsni</a>
    </div>
    <!-- Large button group -->
    <div class="login-menu">
        <a class="button" href="{{url_for('connect')}}">Login</a>
    </div>
    <form class="container" action="/get-user-media" method="post">
        <button class="button">Get Your Photos</button>
    </form>
</body>

</html>