<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Margatsni - Instagram Photo Downloader</title>
    <meta name="description" content="Margatsni - Instagram Photo Downloader">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Domine|Sofia" rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body>
    <h1 class="title"><a href="{{url_for('index')}}"> Margatsni </a></h1> {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block body %}{% endblock %}
    <form class="container" action="/get-media" method="post">
        <div id='focusOnEnter'>
            <input type="text" placeholder="'user', 'https://www.instagram.com/instagram/', or 'https://www.instagram.com/p/BbVLoAeBUo-/?taken-by=instagram' " name="target">
            <button class="button">Get Photos</button>
        </div>
    </form>
    {% if not session['logged_in'] %}
    <a class="button" href="{{url_for('login')}}">Login</a> {% else %}
    <br>
    <div class="container">
        <p class="hellomsg"> Logged in as {{session['login_user']}}.</p>
        <a class="button" href="{{url_for('logout')}}">Logout</a>
    </div>
    {% endif %}

    <script>
        window.onload = function({
            document.getElementById('focusOnEnter').focus();
        })

    </script>
</body>

</html>
