<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Margatsni - Instagram Photo Downloader</title>
    <meta name="description" content="Margatsni - Instagram Photo Downloader">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
    <!-- Large button group -->
    <div class="login-menu">
        <a class="button" href="{{url_for('connect')}}">Login</a>
    </div>
    <h1> Margatsni </h1>
</body>

</html>