@media screen and (min-width:10px) and (max-width:640px) {
    .leftSideBar {
        display: block;
    }
    .rightSideBar {
        display: block;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    color: #fff;


background: linear-gradient(270deg, #13547a, #868f96, #596164, #1e3c72, #2a5298);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
-o-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

p {
    text-align: center;
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
}

input[type=username],
input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
}




/* CSS for classes */

.title {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 60px;
    font-family: 'Sofia', cursive;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button {
    display: block;
    width: 300px;
    margin: 10px auto;
    font-family: "Domine", cursive;
    font-size: 25px;
    outline: none;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: black;
    border-radius: 30px;
}

.login {
    height: 200px;
    width: 400px;
    background: relative;
    display: block;
    width: 35%;
    margin: 10px auto;
    font-family: "Domine", cursive;
    font-size: 25px;
    outline: none;
    color: white;
    border: none;
    text-align: center;
    border-radius: 30px;
}

.container {
    margin: 10px auto;
    text-align: center;
}

.hellomsg {
    text-align: inherit;
    font-size: 20px;
}

.flashes {
    text-align: inherit;
}




/* CSS for divs */