<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">CS480-A4, Calvin Teng</a></br>
         <a href = "{{ url_for('aaron_soup') }}">CS480-A4, Aaron Reyes</a></br>
         <a href = "{{ url_for('bootstrap_example') }}">CS480-A4, Oscar Alcaraz</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Students (<a href = "{{ url_for('new') }}">Add Entry</a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Pin</th>
            </tr>
         </thead>
         
         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.pin }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>
